page-my-profile {
  .avatar-cnt {
    background-color: #eeeeee;
    img {
      display: block;
      max-width: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    p {
      display: block;
      width: 100%;
      margin-top: 10px;
    }
  }
}
